.h2_indicator-title {
    text-align: center;
    margin-top: 60px;
}

.h3_indicator-subtitle {
    text-align: center;
    margin: 30px 50px;
}

.img__investigate-icon {
    height: 300px;
    position: absolute;
    bottom: 80px;
}
